a {
  text-decoration: none;
  color: unset;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pageContainer {
  /* max-width: 1400px;
  width: 100%; */
  width: 100vw;
  /* margin: 0 auto; */
  box-sizing: border-box;
  /* padding: 20px; */
}
